/* Center-align all images in VS Code Markdown Preview */
.vscode-body img,
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
mark {
    background-color: #78dc78; /* Pale Green */
    color: black;              /* Text color inside the highlight */
}